img {
  vertical-align: middle;
  border-style: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 100%;
  height: auto;
  
}

.section-101 .inner-head p {
  margin: 0;
}

.section-101 .inner-head {
  background-color: #3ec1d5;
}

.section-one .user-container .inner-head {

  padding-top: 10px;
  padding-bottom: 3px;

}

.section-one .user-container {
  margin-top: 5px;
  box-shadow: 0 0 20px #E1E1E1;
  border-radius: 10px;
}

.inner-box {

  padding: 5px;
}

.inner-title {
  background-color: #3ec1d5;
  padding: 5px;
  color: #fff;

}

.section-one .user-container .btn-primary {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: #3ec1d5;
  border: 0;

}
.btn-primary {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: #3ec1d5;
  border: 0;

}
.btn-primary:hover {
  background: #fff;
  color: #3ec1d5;
}

.section-one .user-container .btn-primary:hover {
  background: #fff;
  color: #3ec1d5;
}

.suscribe-area {
  background: #3EC1D5 none repeat scroll 0 0;
  padding: 30px 0;
}

.suscribe-text {
  display: block;
  padding: 0;
}

.suscribe-text h4 {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sus-btn {
  background: #fff none repeat scroll 0 0;
  border: 2px solid #fff;
  color: #3EC1D5;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin-left: 100px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
}

.sus-btn:hover {
  background: #3EC1D5 none repeat scroll 0 0;
  border: 2px solid #fff;
  color: #fff;
}


.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.kanit-extralight {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-extrabold {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kanit-black {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.kanit-thin-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.kanit-extralight-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kanit-light-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kanit-regular-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kanit-medium-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kanit-semibold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kanit-bold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kanit-extrabold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.kanit-black-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*end font family*/


.btn-get-started {

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: block;
  width: 230px;
  text-align: center;
  text-decoration: none;
  padding: 8px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #3ec1d5;
  float: right;

}
.btn-crud {

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display:inline-block;
  width: 50px;
  text-align: center;
  text-decoration: none;
  padding: 8px 8px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 2px;
  color: #fff;
  background: #3ec1d5;
  

}
.btn-crud:hover {
  background: #fff;
  color: #3ec1d5;
  text-decoration: none;
}

.btn-get-started:hover {
  background: #fff;
  color: #3ec1d5;
  text-decoration: none;
}

.setting-container {
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;

}

.navbar {
  padding: 0;
  border: none;
  background-color: #ffff;

}

.navbar-nav .nav-link {
  color: #333;
  text-decoration: none;
  padding: 1rem 1.5rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}


.navbar-nav .nav-link:hover {
  color: #3EC1D5;
}

.section-one>h2 {
  color: #333;
}

.section-one h2 {

  display: inline-block;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 70px;
  position: relative;
  text-transform: capitalize;
}

.section-one h2::after {
  border: 1px solid #333;
  bottom: -20px;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 40%;
}



.section-one h3 {
  left: 80px;
  top: 10px;
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 70px;
  position: relative;
  text-transform: capitalize;
  
}

.section-one h3::after {
  border: 1px solid #333;
  bottom: -20px;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 40%;
}
.section-one .schedule-body h3 {
  left: 240px;
  top: 10px;
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 70px;
  position: relative;
  text-transform: capitalize;
  
}

.section-one .schedule-body h3::after {
  border: 1px solid #333;
  bottom: -20px;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 40%;
}

.section-one .inner-profile p {

  font-size: 18px;
}

.r-3 {
  width: 3%;

}

.r-5 {
  width: 5%;

}

.r-10 {
  width: 10%;
 
}

.r-20 {
  width: 20%;


}
.table thead th {
  background: #3ec1d5;
  color: #fff
}